#dropdown{
    background-color: #32b69b! important;
    width:"17%";
    position: relative;
    float: left;
    /* margin-right:"600px"; */
}

.img button{
    background-color: #32b69b! important;
    color:white;
}
.navauc{
    height:59px!important;
    
}
.inputs{
    margin-top: 10px;
    margin-left: 23px;
    width:209px;
    color:grey;
}
.input{
    margin-left: 10px;
    width:450px;
    margin-top: 10px;   
}
.inputt{
    margin-left: 10px;
    width:200px;
    margin-top: 10px;   
}
.inputs2{
    display: inline;
    width:145px;
    margin-left: 8px;
    margin-top: 10px;
}
.area{
    width:145px;
    float:left;
    margin-top: 10px;
}
.inputs3{
    display:inline-table;
    width:220px;
    margin-left: 10px;
    margin-top: 10px;
}
.check{
    margin-left:10px;
}
.services{
    display: inline;
    margin-left: 30px;
    color: grey;
    margin-top: 10px;
    float: left;
    position: relative;
}
.map{
    
    width:450px;
}
.loc{
    color:grey;
    margin-top: 20px;
    font-size: large;
}
#myaucnav{
    height:60px;
    width:100%;
    border:0;
    position:top;
    display:inline-flex;
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}
#btn-logout{
    width:70px;
    margin-top:10px;
    height:40px;
    background-color:white;
    color:#32b69b;
    border:0;
}
#dropdowntype{
    width:450px;
    background-color: white!important;
    color:grey;
}
#dropdowntyype{
    width:200px;
    margin-left: 20px;
    background-color: white!important;
    color:grey;
}
#dropdowntyypee{
    width:200px;
    margin-left: 20px;
    background-color: white!important;
    color:grey;
}
#ddropdowntyypee{
   display: flex;
   /* margin-left: 10px !important; */
}
#de{
    width:200px;
    margin-left: 10px;
    background-color: white!important;
    color:grey;
}
.dropdown-item input{
    width:100px;
}
.form-check-input{
    width:20px !important;
}
span,.dropdown-toggle::after{
    color:grey;
}
.btn-light.dropdown-toggle{
    width:200px;
    height:47px !important;
    color:grey !important;
    background-color: white !important;
}
.form-check-label{
    color: grey !important;
}
.dropdown-menu{
    width:200px !important;
    color: grey !important;
}
#dropdowntypee{
    width:450px;
    background-color: white!important;
    color:grey;
}
.drop{
    color:grey!important;
}
.xsmall{
    margin-top: 50px;
    margin-left:20px;
    margin-right:20px;
    text-align: center;
    height: auto;
    position: relative;
    font-size: .8125rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff !important;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    border-radius: .35rem; 
    width:300px;
    height:500px;
    /* right:0; */
    float:right;
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
  
}
.xsmalll{
    margin-top: 50px;
    /* margin-left:300px; */
    margin-right:20px;
    text-align: center;
    height: auto;
    position: relative;
    /* float:right; */
    font-size: .8125rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff !important;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    border-radius: .35rem; 
    width:300px;
    right:0;
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
  
}
.countdown{
    text-align: center;
    width: 100%;
    display: inline;
    font-weight: 400;
}
.items i{
    color:#32b69b !important;
}
.itemss i{
    color:#32b69b !important;
}
.pag{
    float:left;
    text-align: center;
    width:"100px";
    
}
.pagination .page-item.active .page-link{
    background-color:  #32b69b !important;
}
.side{
    left:0;
}
#subid{
    background-color: #32b69b !important;
    border-radius: 50px;
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}
.but{
    color: #fff !important;
      border-color:#32b69b;
      background-color: #32b69b  !important;
      box-shadow: none;
      font-weight: 400;
      display: inline;
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      border: 1px solid transparent;
      padding: .5625rem 1rem;
      font-size: .75rem;
      line-height: 1.125;
      margin-bottom: 10px;
      border-radius: .25rem;
      box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);

  }
  .price{
    text-rendering: auto;
    color: -internal-light-dark(rgb(87, 84, 84), white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    width:150px;
    height:33px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: 400 14.3333px Arial;
    border-width: 1px;;
     box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
  }
 
  
  /* Control the left side */
  .left {
    height: 100%;
    width: 45%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    left: 0;
    margin-top: 200px;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    height: 80%;
    width: 55%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin-top: 150px;
   
  }
  .rightt {
    right: 0;
    height: 80%;
    width: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }

  .fav{
      display:flex;
      width:30px;
      background-color: transparent !important;
      margin-left: 255px;
      border:0px;
  }
.viewd{
    margin-left: 60px;
    color:#32b69b !important;
}
.items{
    margin-left: 250px;
}
.itemsf{
    margin-left: 250px;
    display: flex;
}
.pag{
    /* left: 0; */
    margin-left: 450px;
    position: relative;

}
/* .itemss{
    display: flex;
    margin-left:20px;
    margin-top: 5px;
    position: relative;
} */
.remove{
    background-color:white;
    border:0;
    float:left;
    color:#32b69b;
}
.removve{
    background-color:white;
    border:0;
    margin-left:15px;
    /* float:left; */
    color:#32b69b;
}
.removee{
    background-color:white;
    border:0;
    float:right;
    color:#32b69b;
}
.close{
    margin-right: 30px;
    border:0;
    font-weight: 200;
    color:black;
}
.vd{
    float:right;
    color:#32b69b;
    background-color:white;
    border:0;
}
.ree{
    border:0;
    background-color: transparent !important;
    margin-top: 10px;
    color:#32b69b;
}
#can {
    background-color:#32b69b !important;
    color:white !important;
}
.search{
    width:100%;
    height:400px;
}
.search h1{
    color:white;
    font-family:Cursive;
    text-shadow:10px 10px 15px white;
}
.locs{
    width:500px;
    height:50px;
    border:0;
    margin-top:50px;
}
.buts{
    background-color:transparent;
    color:white;
    font-style:bold;
    height:52px;
    width:52px;
    margin-bottom:2px;
    border:0;
}
.filters{
    display:flex;
    margin-left: 10px;
    margin-top: 28px;
    margin-right: 20px;
}
.form-check-input{
    margin-right: 40px;
}
.ser{
    margin-left: 10px !important;
    background-color:#32b69b !important;
    color:white;
}
.seer{
    margin-left: 10px !important;
    margin-right: 10px !important;
    background-color:#32b69b !important;
    color:white;
}
.rm{
    float:left;
    color:#32b69b;
    background-color:white;
    border:0;
}
.itemsf i{
    color:#32b69b;
}
.removv{
    background-color:white;
    border:0;
    float:left;
    color:grey;
}
#bd{
    background-color:white !important;
    color:grey;
    height:50px;
    margin-left: 10px !important;
}

#s{
    background-color:#32b69b !important;
    color:white;
    height:50px;
    margin-left: 20px !important;
}
#bdd{
    background-color:white !important;
    color:grey; 
}
.flex{
    display:inline;
    width:"10px"
}
.meduim Col{
    color:white !important;
}
.meduim{
    background-color: whitesmoke !important;
    font-size: .8125rem;
    line-height: 1.5;
}
.Services searchBox{
    border:1px;
    border-color: grey;
}
.Services{
    width:200px
}
#s{
    margin-left: 2px !important;
}
.not{
    margin-top:20px;
    color:white;
    height: 10px;
    
}
.notifications .icon .image {
        height:20px !important;
        width:20px !important;
        color:white !important
}
.card{
    background-color: white !important;
}
.items{
    margin:0 !important;
}
.content{
    height:25px;
}
/* .con{
    width:400px !important;
    height:400px !important;
    position: absolute;
    z-index: 2;
} */
.notif{
        margin-top: 50px;
        margin-left:20px;
        margin-right:220px;
        text-align: center;
        height: auto;
        position: center;
        font-size: .8125rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff !important;
        border: 1px solid #e1e5eb;
        font-weight: 300;
        border-radius: .35rem; 
        width:500px;
        height:462px;
        float:right;
        box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}
.foot{
    height:50px;
    
}