#dropdown{
    background-color: #32b69b! important;
    width:"17%";
    position: relative;
    float: left;
    /* margin-right:"600px"; */
}
.img button{
    background-color: #32b69b! important;
    color:white;
}
.navauc{
    height:59px!important;
    
}
.inputs{
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
    width:220px;
    color:grey;
}
.input{
    margin-left: 10px;
    width:450px;
    margin-top: 10px;   
}
.inputt{
    margin-left: 10px;
    width:200px;
    margin-top: 10px;   
}
.inputs2{
    display: inline;
    width:145px;
    margin-left: 8px;
    margin-top: 10px;
}
.area{
    width:145px;
    float:left;
    margin-top: 10px;
}
.inputs3{
    display:inline-table;
    width:220px;
    margin-left: 10px;
    margin-top: 10px;
}
.check{
    margin-left:10px;
}
.services{
    display: inline;
    margin-left: 30px;
    color: grey;
    margin-top: 10px;
    float: left;
    position: relative;
}
.map{
    
    width:450px;
}
.loc{
    color:grey;
    margin-top: 20px;
    font-size: large;
}
#myaucnav{
    height:60px;
    width:100%;
    border:0;
    position:top;
    display:inline-flex;
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}
#btn-logout{
    width:70px;
    margin-top:10px;
    height:40px;
    background-color:white;
    color:#32b69b;
    border:0;
}
#dropdowntype{
    width:450px;
    background-color: white!important;
    color:grey;
}
#dropdowntypee{
    width:450px;
    background-color: white!important;
    color:grey;
}
.drop{
    color:grey!important;
}