html,
body {
  margin: 0;
  padding: 0;
overflow-x: hidden; 

}
body{
  overflow-y:hidden;
}

.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #80b3ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nabar{
  position: -webkit-sticky;
  position: sticky;
  
}
.Navv{
  color:white!important;
  margin-left: 50px;
}
.N{
  color:white!important;
}
.Navvv{
  color:white!important;
}
.Navvi{
  color:grey!important;
}
.b{
  background-color: white;
  color:grey!important;
  text-align:center;
  border: 0;
}
.maps{
    position: absolute; 
  
}
.items{
 height: 230px !important;
 padding: 10px;
}
.itemms{
  height: 230px !important;
  /* width:600px; */

 padding: 10px;
 display: flex;
}
.itemms i{
  color:#32b69b;
}
.images{
  height: 300px !important;
  padding: 12px;
}
.prop{
  text-align: left;
  margin-top: 10px;
  height: 100%;
}
.servic{
  margin-left: 15px;
  color: grey;
}
.favo{
  background-color: transparent !important;
  border:0;
  right:0;
  position: absolute;
}

.re{
  margin-left: 10px;
  color:#32b69b;
  font-weight: 300;
  border:0;
  background-color: transparent !important;
}
svg{
  opacity: 0.5;
}
.bid{
width:80px;
border-color: grey 1px;
margin-right: 10px;
font-weight: 300;
}
.subid{
  color: #fff !important;
  border-color:#32b69b;
  background-color: #32b69b  !important;
  box-shadow: none;
  font-weight: 400;
  display: inline;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  border: 1px solid transparent;
  padding: .5625rem 1rem;
  font-size: .75rem;
  line-height: 1.125;
  height:30px;
  width:50px;
  border-radius: .25rem;
  box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);

}
.bidss{
max-width:120px !important;
}
.biss{
  max-width:180px !important;
}
.details{
  width:90% !important;
  margin-top: 70px;
  margin-left: 150px;
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align:justify; 
  /* padding: 20px; */
  height:520px !important;
  border-radius: 20px;
}
.enlarge {
  transform:scale(3,3);
  transform-origin:0 0;
}
.image-list {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    left:0;
    grid-auto-flow: dense;
    list-style: none;
    margin: 1em auto;
    padding: 0;
    list-style: none;
    grid-auto-rows: 220px;
}

.image-list img {
  width: 100%;
  height: 100% !important;
}
.infos{
  position: center;
}
.biding{
  /* margin-right: 20px; */
  margin-top: 50px;
}
#sb{
  background-color: #32b69b  !important;
  color: #fff !important;
  width: 220px;
  height:30px;
  border:0;
}
::-webkit-scrollbar {
  width: 10px;
}
.bigrow{
  width:80%;
  margin-left: 170px;
  margin-top: 50px;
  text-align: left;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  height:90%
  /* margin-top: 40px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#9ca7a4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #68706f 
}
.countdown{
  text-align: center;
  width: 100%;
  display: inline;
  font-weight: 400;
}
.num {
  width:220px;
  height:30px;
  margin-bottom: 10px;
}
#fix{
  width: 280px; 
  margin-right: 40px;
   height: 600px;
}
#category{
  width:150px;
  margin-left: 20px;
  color: grey;
  background-color: white !important;
}
#area, #rooms{
  width:120px;
  color: grey;
  background-color: white !important;
}
#area{
  margin-left: 10px;
}
#rooms{
  display: flex;
  height: 20px !important;
}
#multiselectContainerReact{
  border: 0px !important;
}
#bd{
  width:120px;
  color: grey;
  background-color: white !important;
  height:48px !important;
}
._2iA8p44d0WZ-WqRBGcAuEV {
  border: 0px !important;
  height:45px;
}
.tit{
  margin-top:50px;
  color:#32b69b ;
  font-weight: 300;
}
.type{
  width:255px;
  height:50px; 
  box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
  display: flex;
  margin-left: 28px;
  background-color: white;
  margin-top:10px;
}
.flex{
  margin-left: 3px;
}

.items{
  margin-top: 5px;
}
#search_input{
  text-align: center;
  font-weight: 300;
}
.btn-primary.dropdown-toggle{
  text-align: center;
  font-weight: 300;
}

.services{
  width:255px;
  height:50px; 
  box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
  display: flex;
  margin-left: 10px !important;
  background-color: white;
  margin-top:10px; 
}
.filters{
  margin-left: 10px !important;
  width: 600px;

}

.searchbtn{
  border:0;
  background-color: #32b69b  !important;
  color:white;
  margin-left: 20px;
  margin-top:10px; 
  width:100px;
  height:50px;
}
#categ{
  width:110px !important;
  height:40px;
  border-width:1px;
  border-color: rgb(189, 185, 185) !important;
  /* margin-left: 20px; */
  background-color: white  !important;
 color:#32b69b ;
}

#categg{
  width:85px !important;
  height:40px;
  border-width:1px;
  border-color: rgb(189, 185, 185) !important;
  /* margin-left: 20px; */
  background-color: white  !important;
 color:#32b69b  !important;
}
.filterss{
  width: 300px;
  display: flex;

}
.start{
  margin-top: 30px;
  margin-left: 220px;
  width:200px !important;
  color:grey !important;
}
.start_date{
  margin-top: 30px;
  margin-left: 300px;
  width:200px !important;
  color:grey !important;
}
.description{
  margin-top: 30px;
  margin-left: 300px;
  width:350px !important;
  color:grey;
}
.descriptionl{
  margin-top: 30px;
  margin-left: 280px;
  width:350px !important;
  color:grey;
}
.startprice{
  margin-top: 30px;
  margin-left: 100px;
  font-weight: 300;
  width:200px !important;
  color:grey;
}
#type{
  margin-top: 30px;
  margin-right: 200px;
  width:250px !important;
  height: 40px;
  font-weight: 300;
  color:grey;
  background-color: white !important;
}
.area{
  margin-top: 30px !important;
  margin-left: 300px;
  width:200px !important;
  font-weight: 300;
  color:grey; 
}
.images{
  width:210px;
  margin-left: 260px;
  margin-top: 30px;
}
.imagess{
  width:250px;
  margin-top: 30px;
}
.loc{
  margin-right: 300px;
  font-weight: 300;
}
.its{
  display: flex;
}
.closee{
  margin-top: 30px;
  margin-left: 100px;
  width:200px !important;
  color:grey !important;
}
.map{
  margin-left: 280px;
}
.area::-webkit-input-placeholder,
.descriptionl::-webkit-input-placeholder,
 .description::-webkit-input-placeholder, 
 .startprice::-webkit-input-placeholder,
 .start::-webkit-input-placeholder,
 .closee::-webkit-input-placeholder,
 .beds::-webkit-input-placeholder,
 .baths::-webkit-input-placeholder
 {
  font-weight: 300;
}
.add{
  width:150px !important;
  height:40px;
  border-width:1px;
  margin-left: 450px;
  border-color: rgb(189, 185, 185) !important;
  background-color: #32b69b  !important;
  color:white  !important;
}
.back{
  background-color: white !important;
  color:#32b69b !important;
float: left;
margin-left: 20px;;
}
.beds{
  margin-top: 30px;
  margin-left: 300px;
  width:140px !important;
  color:grey; 
}
.baths{
  margin-top: 30px !important;
  margin-left: 40px;
  width:140px !important;
  color:grey; 
}
#categories{
  width:230px;
  margin-left: 300px;
  height:45px;
  margin-top: 30px !important;
  background-color: white!important;
  color:grey;
}
#types{
  width:230px;
  margin-left:40px;
  height:45px;
  margin-top: 30px !important;
  background-color: white!important;
  color:grey;
}
.propserv{
  margin-left: 100px;
  margin-top: 30px !important;
  color:grey;
}
.propserv1{
  margin-left: 280px;
  margin-top: 30px !important;
  color:grey;
}